<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="board">
	
	<sql id="search">
		<if test="@com.ar.common.util.StringUtil@isNotEmpty(searchType)">
			<if test="@com.ar.common.util.StringUtil@equals(searchType, 'board_title')">
				and board_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="@com.ar.common.util.StringUtil@equals(searchType, 'board_head')">
				and board_head like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="@com.ar.common.util.StringUtil@equals(searchType, 'board_content')">
				and board_content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="@com.ar.common.util.StringUtil@equals(searchType, 'board_writer')">
				and board_writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="@com.ar.common.util.StringUtil@equals(searchType, 'all')">
				and ( 
	                     board_title like CONCAT('%', #{keyword}, '%')
	                    OR
	                     board_head like CONCAT('%', #{keyword}, '%')
	                    OR
	                     board_content like CONCAT('%', #{keyword}, '%')
	                    OR
	                    board_writer like CONCAT('%', #{keyword}, '%')
	                )
			</if>
		</if>
	</sql>
	<sql id="orderBy">
		<if test="@com.ar.common.util.StringUtil@equals(sortList, 'desc')">
			order by board_no desc
		</if>
		<if test="@com.ar.common.util.StringUtil@equals(sortList, 'asc')">
			order by board_no asc
		</if>
	</sql>
	
	
	<select id="boardList" resultType="boardDto" >
		SELECT board_no
				   , board_head
				   , board_title
				   , board_write_date
				   , board_writer
				   , board_readcount
				   , board_content
   FROM board
 WHERE board_no > 0
<include refid="search"></include>
<include refid="orderBy"></include>
	LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	<select id="listCount" resultType="int" >
		SELECT 
					count(board_no) 
		FROM board 
		WHERE board_no > 0
		<include refid="search"></include>
	</select>
	
	<insert id="regist" parameterType="boardDto">
		INSERT INTO board(
					 board_no
				   , board_head
				   , board_title
				   , board_write_date
				   , board_writer
				   , board_readcount
				   , board_content
					)
		VALUES(
					  #{board_no}
					, #{board_head}
					, #{board_title}
					, now()
					, #{board_writer}
					, 0
					, #{board_content}
					)
	</insert>
	
	<update id="edit" parameterType="boardDto">
		UPDATE board 
		SET
				  board_head = #{board_head}
				, board_title = #{board_title}
				, board_content = #{board_content}
		WHERE
				board_no= #{board_no}
	</update>
	
	
	<select id="getBoardSequence" resultType="int">
		SELECT (
		SELECT *
		FROM(
				SELECT IFNULL(
										max(board_no)+1,1
										) 
				FROM board) next) 
				FROM dual
	</select>
	
	<select id="getFileSequence" resultType="int">
		SELECT (
		SELECT *
		FROM(
				SELECT IFNULL(max(file_no)+1,1) 
				FROM file) next) 
				FROM dual
	</select>
	
	<insert id="upload" parameterType="fileDto">
		INSERT INTO file 
		VALUES(
					 #{file_no}
					, #{file_uploadname}
					, #{file_savename}
					, #{file_size}
					, #{board_no}
		)
	</insert>
	
	
	<select id="view" resultType="boardDto" parameterType="int">
		SELECT board_no
				   , board_head
				   , board_title
				   , board_write_date
				   , board_writer
				   , board_readcount
				   , board_content 
		FROM board 
		WHERE board_no = #{board_no}
	</select>
	
	<select id="fileList" parameterType="int" resultType="fileDto">
		SELECT file_no
				, file_uploadname
				, file_savename
				, file_size
				, board_no 
		FROM file 
		WHERE board_no=#{board_no}
	</select>
	
	<select id="getFileNum" resultType="fileDto" parameterType="int">
		SELECT file_no
					, file_uploadname
					, file_savename
					, file_size
					, board_no 
		FROM file 
		WHERE file_no=#{file_no}
	</select>
	
	<update id="readCount" parameterType="int">
		UPDATE board 
		SET 
			board_readCount = board_readCount+1 
		WHERE 
			board_no = #{board_no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM 
			board 
		WHERE 
			board_no = #{board_no}
	</delete>
	
	<delete id="fileDelete" parameterType="int">
		DELETE FROM 
			file 
		WHERE 
			board_no=#{board_no}
	</delete>
	
	<delete id="deleteFileNo" parameterType="int">
		DELETE FROM 
			file 
		WHERE 
			file_no=#{file_no}
	</delete>
	
</mapper>



